@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App {
  display: flex;
}
body {
  background-color: #52acff;
  background-image: linear-gradient(304deg, #52acff 25%, #ffe32c 100%);
}

.page {
  height: 100vh;
  width: 100vh;
  max-width: 350px;
  max-height: 700px;
  border: solid 2px black;
  background-color: red;
}
@media only screen and (min-width: 600px) {
  .page {
    /* temp */
    height: 500px;
    width: 250px;
  }
}
#outer-case {
  display: grid;
}
#open-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid yellow;
}
#case-ridge {
  position: relative;
  height: 0.5em;
  left: 50%;
  top: 90%;
  width: 40%;
  transform: translateX(-50%);
  border-radius: 25px;
  border: black solid 2px;
}
#inner-left-page {
  /* inline grid in media query for desktop view? */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.7fr 5fr 0.75fr 2fr;
}

#sprite-container {
  grid-column: 1 / span 4;
  grid-row: 2;
  background-color: rgb(255, 242, 205);
  margin: 0.5em 1em;
  text-align: center;
}

.red-circle {
  display: inline-block;
  background-color: red;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  border: 1px solid black;
  margin: 5px auto;
}
#gap-circle {
  display: inline-block;
  background: transparent;
  width: 2em;
}
#inner-right-page {
  display: grid;
}
