#bio-box {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  background-color: rgb(103, 148, 123);
  overflow: scroll;
}
#stats-box {
  grid-row: 4 / 5;
  grid-column: 4;
}

.bio {
  overflow: scroll;
  font-size: 0.6em;
  font-family: 'Press Start 2P', monospace;
  background-color: rgb(103, 148, 123);
  border: 1px solid black;
  margin: 2px;
}
