#sprite-bg {
  background: rgb(103, 148, 123);
  margin: 0 1em 0.5em;
  border: 1px solid black;
  height: 10em;
}

.sprite-img {
  width: 10em;
  height: auto;
}

#main-sprite {
}
.poke-text {
  font-family: 'Press Start 2p', monospace;
}
i.poke-text {
  font-size: 0.5em;
  font-weight: 100;
}
